<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgl.accountsservice.dao.mappers.AccountsMapper">

    <resultMap id="Account" type="com.mgl.accountsservice.dao.entities.AccountEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="accountType" column="account_type" />
        <result property="createdBy" column="created_by" />
        <result property="createdAt" column="created_at" />
        <result property="lastUpdatedAt" column="last_updated_at" />
    </resultMap>

    <insert id="insertAccount" parameterType="com.mgl.accountsservice.dao.entities.AccountEntity">
        INSERT INTO accountsdb.accounts (
            id,
            name,
            account_type,
            created_by,
            created_at,
            last_updated_at
        ) VALUES (
            #{id},
            #{name},
            #{accountType},
            #{createdBy},
            NOW(),
            NOW()
        )
    </insert>

    <select id="getAccounts" resultMap="Account">
        SELECT
            a.id,
            a.name,
            a.account_type,
            a.created_by,
            a.created_at,
            a.last_updated_at
        FROM accountsdb.accounts AS a
    </select>

    <select id="getAccount" resultMap="Account">
        SELECT
            a.id,
            a.name,
            a.account_type,
            a.created_by,
            a.created_at,
            a.last_updated_at
        FROM accountsdb.accounts AS a
        WHERE
            a.id = #{accountId}
    </select>

    <delete id="deleteAccount" parameterType="string">
        DELETE FROM accountsdb.accounts AS a
        WHERE
            a.id = #{accountId}
    </delete>

    <update id="putAccount" parameterType="com.mgl.accountsservice.dao.entities.AccountEntity">
        UPDATE accountsdb.accounts
        SET
            name = #{name},
            account_type = #{accountType},
            last_updated_at = NOW()
        WHERE
            id = #{id}
    </update>
</mapper>
